* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Futura Lt Bt Light";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Futura Md Bt Medium";
}

ul {
  list-style: none;
}

li {
  list-style-type: none;
}

header {
  .menu-top-bar-container {
    max-width: 80%;
    margin: 0 auto;
    .top-bar {
      display: flex;
      justify-content: center;
      padding-right: 1.5rem;
      .menu-icon {
        width: 12px;
        height: auto;
        margin-left: 5px;
      }

      li {
        padding: 0.5rem 1rem;
        position: relative;
        a {
          color: #000;
          font-weight: 500;
        }
        &.menu-item-has-children .sub-menu {
          opacity: 0;
          visibility: hidden;
          position: absolute;
          top: 80%;
          left: 0;
          white-space: nowrap;
          width: auto;
          background: #f4f4f4;
          border-radius: 0.5rem;
          transition: all 0.6s cubic-bezier(0.34, 1.56, 0.64, 1);
          // box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
          & .menu-item {
            padding-right: 2.5rem;
          }

          & > .menu-item-has-children .sub-menu {
            top: 10%;
            left: 30%;
          }
        }
      }
      .menu-item-has-children:hover > .sub-menu {
        opacity: 1;
        visibility: visible;
        top: 100%;

        .menu-item-has-children:hover .sub-menu {
          top: 10%;
          left: 100%;
        }
      }
    }
  }
}

footer {
  padding: 1rem 0;
  background-color: #3f3b3b;
}

.footer-bar {
  margin-bottom: 0;

  a {
    color: #fff;
    font-weight: 500;
  }
  li > ul {
    margin-left: 1rem;
  }
}

//to hide screen-reader-text
//display: none and visibility hidden also hides the element in screen readers
//only available for screenreaders
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;

  &:focus {
    background-color: #eee;
    clip: auto !important;
    clip-path: none;
    color: #444;
    display: block;
    font-size: 1em;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; /* Above WP toolbar. */
  }
}

.c-pagination {
  max-width: 60%;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: inset -20px 20px 60px #d9d9d9, inset 20px -20px 60px #ffffff;
  margin: 0 auto;
  margin-bottom: 1rem;
  padding: 5px 0;

  .nav-links {
    padding: 0.5rem 0;
    text-align: center;
    .page-numbers {
      padding: 5px 10px;
      border-radius: 5px;
      line-height: 0;
      color: var(--black); /* HACK here */

      background-color: var(--white);
      color: var(--black);
      &.current {
        background-color: var(--primary);
        box-shadow: 1px 2px 10px rgba(0, 123, 255, 0.5);
        color: var(--white);
      }
    }
  }
}

//sidebar styles

.sidebar-map {
  max-width: 100%;
}

.card-archive-category {
  ul {
    display: inline-flex;
    margin-bottom: 0;
    li {
      padding: 0.2rem 0;
      padding-right: 0.5rem;
      a {
        font-size: 16px;
        font-family: "Futura Md Bt";
      }
    }
  }
}

// ********* BADGES **********
.my-badge {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  margin: 10px;
  &-Black {
    background-color: #000;
  }
  &-Blue {
    background-color: rgb(124, 124, 255);
  }
}

.thumb-badge-area {
  position: absolute;
  top: 4%;
  right: 2%;
}

.badge-featured {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 25px;
  border-radius: 10px;
  margin: 0 5px;
  background-color: rgb(255, 229, 83);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.badge-new {
  @extend .badge-featured;
  width: 50px;
  background-color: rgb(69, 255, 69);
}
